{% extends "base.html" %}
{% block content %}
{% include "header.html" %}


	<h1>Inventory</h1>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<strong> {{ message }} </strong>
			{% endfor %}
		{% endif %}
  {% endwith %}

	{% if categories != [] %}
		{% for category in categories %}
			<a href="{{url_for('showCategory', category_id = category.id)}}">
				<h3>{{category.name}}</h3>
			</a>
		{% endfor %}
	{% else %}
		<p>No categories to display.</p>
	{% endif %}
	<br>


{% endblock %}
